.chore-input {
  color: #e9defa;
  background-color: #4B3F72;
  border: 3px solid #1F2041;
  border-radius: 6px;
  outline: none;
  margin: 8px;
  padding: 12px 16px;
  font-size: 16px;
  transition: all 0.25s ease;
  box-shadow: 0 0 0 rgba(212, 197, 226, 0);


  &:hover
  {
    box-shadow: 0 0 8px rgba(124, 107, 179, 0.5);
  }

  &:focus
  {
    border-radius: 10px;
    transform: scale(1.02);
  }
}

