.serie-card 
{
    width: 20%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--cardsBG);
    box-shadow: rgba(0, 0, 0, 0.27) 0px 1px 3px, rgba(0, 0, 0, 0.39) 0px 2px 5px;
    transition: 0.3s;
    overflow: hidden;

    &:hover {
        transition: 0.3s;
        transform: scale(1.1);
    }
 
}


.titulitis {
    color: #bdb7c1;
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 10px;
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
}


.desc {
    color: #383D3B;
    text-align: left;
    text-align: justify;
    font-weight: bold;
    font-size: 1em;
    margin-top: -20px;
    padding: 10px;
    padding-left: 15px;
}
